@using PKTickets.Models
@model List<Movie>
@{
    Layout = "~/views/shared/_userlayout.cshtml";
}

<div id="heading">Movies List</div>


<a class=" text-black mb-3" id="add" title="Add User" asp-area="" asp-controller="Home" asp-action="AddMovie">
    <i class="fa-regular fa-square-plus Add"></i>

</a>

<table class="table table-hover pt-2" id="dataTable">
    <thead class="text-dark" id="thead">
        <tr>
            <th>Movie Id</th>
            <th class="text-center">Title</th>
            <th class="text-center">Director</th>
            <th class="text-center">Genre</th>
            <th class="text-center">Duration(in mins)</th>
            <th class="text-center" data-orderable="false">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Movie movie in Model)
        {
            <tr class="text-center align-text-bottom">
                <td>@movie.MovieId</td>
                <td >
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="MovieById" asp-route-id="@movie.MovieId">
                        @movie.Title
                    </a>
                </td>
                <td>@movie.Director</td>
                <td>@movie.Genre</td>
                <td>@movie.Duration</td>
                <td>
                    <a class="nav-link text-success edit"  title="Edit" asp-area="" asp-controller="Home" asp-action="EditMovie" asp-route-id="@movie.MovieId">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <div class="nav-link text-danger delete" id="de" title="Delete" onclick="MovieDelete(@movie.MovieId)">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </td>
            </tr>
        }    
    </tbody>
</table>

@section scripts{  
    <link href="~/css/movies.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>$(document).ready(function () { $("#dataTable").DataTable(); })</script>
}

