
@using PKTickets.Models.DTO
@model List<ReservationDTO>
@{
    Layout = "~/views/shared/_userlayout.cshtml";
}

<div id="heading">Reservations List</div>


<a class=" text-black mb-3" id="add" title="Add User" asp-area="" asp-controller="Home" asp-action="CreateUser">
    <i class="fa-regular fa-square-plus Add"></i>

    </a>

<table class="table table-hover pt-2" id="dataTable">
    <thead class="text-dark" id="thead">
        <tr>
            <th >Reservation Id</th>
            <th class="text-center">User Name</th>
            <th class="text-center">Theater Name</th>
            <th class="text-center">Movie Name</th>
            <th class="text-center">Date</th>
            <th class="text-center">Show Timing</th>
            <th class="text-center">Tickets</th>
            <th class="text-center" data-orderable="false">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ReservationDTO reservation in Model)
        {
            <tr class="text-center align-text-bottom">
                <td>@reservation.ReservationId</td>
                <td >
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="ReservationsByUserId" asp-route-id="@reservation.ReservationId">
                        @reservation.UserName
                     </a></td>
                <td>@reservation.TheaterName</td>
                <td>@reservation.MovieName</td>
                <td>@reservation.Date</td>
                <td>@reservation.ShowTiming</td>
                <td>@reservation.Tickets</td>
                <td>

                    <a class="nav-link text-success" id="ed" title="Edit" asp-area="" asp-controller="Home" asp-action="EditUser" asp-route-id="@reservation.ReservationId">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>


                    <div class="nav-link text-danger" id="de" title="Delete"  onclick="UserDelete(@reservation.ReservationId)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5
                            .5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.
                             5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                        </svg>
                        </div>
                   
                </td>
            </tr>
        }    
    </tbody>
</table>

@section scripts{  
    <link href="~/css/color.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>$(document).ready(function () { $("#dataTable").DataTable(); })</script>
    <script src="~/js/userdelete.js"></script>
}

