@using PKTickets.Models.DTO
@model List<ReservationDTO>
@{
    Layout = "~/views/shared/_userlayout.cshtml";
}

<div id="heading">Reservations List</div>


<a class=" text-black mb-3" id="add" title="Add User" asp-area="" asp-controller="Home" asp-action="CreateUser">
    <i class="fa-regular fa-square-plus Add"></i>

</a>

<table class="table table-hover pt-2" id="dataTable">
    <thead class="text-dark" id="thead">
        <tr>
            <th>Reservation Id</th>
            <th class="text-center">User Name</th>
            <th class="text-center">Theater Name</th>
            <th class="text-center">Movie Name</th>
            <th class="text-center">Date</th>
            <th class="text-center">Show Timing</th>
            <th class="text-center">Tickets</th>
            <th class="text-center" data-orderable="false">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ReservationDTO reservation in Model)
        {
            <tr class="text-center align-text-bottom">
                <td>@reservation.ReservationId</td>
                <td>
                    @{

                    }
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="ReservationsByUserId" asp-route-id="@reservation.UserId">
                        @reservation.UserName
                    </a>
                </td>
                <td>@reservation.TheaterName</td>
                <td>@reservation.MovieName</td>
                <td>@String.Format("{0:d/M/yyyy}",@reservation.Date)</td>
                <td>@reservation.ShowTiming</td>
                <td>@reservation.Tickets</td>
                <td>
                    <a class="nav-link text-primary" id="ed" title="Info" asp-area="" asp-controller="Home" asp-action="InvoiceById" asp-route-id="@reservation.ReservationId">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <a class="nav-link text-success" id="ed" title="Edit" asp-area="" asp-controller="Home" asp-action="EditUser" asp-route-id="@reservation.ReservationId">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>


                    <div class="nav-link text-danger" id="de" title="Delete" onclick="UserDelete(@reservation.ReservationId)">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>

                </td>
            </tr>
        }    
    </tbody>
</table>

@section scripts{  
    <link href="~/css/color.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>$(document).ready(function () { $("#dataTable").DataTable(); })</script>
    <script src="~/js/userdelete.js"></script>
}

