@using PKTickets.Models
@model List<Theater>
@{
    Layout = "~/views/shared/_userlayout.cshtml";
}

<div id="heading">Theaters</div>




<a class=" text-black  mb-3"  title="Add Theater" asp-area="" asp-controller="Home" asp-action="AddTheater">
    <i class="fa-regular fa-square-plus tab"></i>

</a>
<table class="table table-hover pt-2" id="dataTable">
    <thead class="text-dark" id="thead">
        <tr>
            <th>Theater Id</th>
            <th class="text-center">Theater Name</th>
            <th class="text-center">Location</th>
            <th class="text-center" data-orderable="false">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Theater theater in Model)
        {
            <tr class="text-center align-text-bottom">
                <td>@theater.TheaterId</td>
                <td>
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="TheaterScreens" asp-route-id="@theater.TheaterId">
                        @theater.TheaterName
                    </a>
                </td>
                <td>@theater.Location</td>
                <td>
                    <a class="nav-link text-success edit" title="Edit" asp-area="" asp-controller="Home" asp-action="EditTheater" asp-route-id="@theater.TheaterId">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <div class="nav-link text-danger delete" title="Delete" asp-area="" onclick="Theater(@theater.TheaterId)">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </td>
            </tr>
        }    
    </tbody>
</table>

@section scripts{  
    <link href="~/css/theaterslist.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>$(document).ready(function () { $("#dataTable").DataTable(); })</script>
    <script src="~/js/theaterdelete.js"></script>
}

