@using PKTickets.Models
@model List<User>
@{
    Layout = "~/views/shared/_userlayout.cshtml";
}

<div id="heading">Users List</div>


<a class=" text-black mb-3 add"  title="Add User" asp-area="" asp-controller="Home" asp-action="CreateUser">
    <i class="fa-regular fa-square-plus Add"></i>

</a>
<form asp-action="UserList" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="UserList">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table table-hover pt-2" id="dataTable">
    <thead class="text-dark" id="thead">
        <tr>
            <th>User Id</th>
            <th class="text-center">User Name</th>
            <th class="text-center">Phone Number</th>
            <th class="text-center">Location</th>
            <th class="text-center">Email Id</th>
            <th class="text-center" data-orderable="false">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in Model)
        {
            <tr class="text-center align-text-bottom">
                <td>@user.UserId</td>
                <td>
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="ReservationsByUserId" asp-route-id="@user.UserId">
                        @user.UserName
                    </a>
                </td>
                <td>@user.PhoneNumber</td>
                <td>@user.Location</td>
                <td>@user.EmailId</td>
                <td>
                    <a class="nav-link text-success edit" title="Edit" asp-area="" asp-controller="Home" asp-action="EditUser" asp-route-id="@user.UserId">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>   
                    <div class="nav-link text-danger delete" title="Delete" onclick="UserDelete(@user.UserId)">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </td>
            </tr>
        }    
    </tbody>
</table>

@section scripts{  
    @*<link href="~/css/color.css" rel="stylesheet" />*@
    <link href="~/css/userlist.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>$(document).ready(function () { $("#dataTable").DataTable(); })</script>
    <script src="~/js/userdelete.js"></script>
}
    <div class="row row-cols-3 row-cols-sm-3 row-cols-md-3 row-cols-lg-3">
 @foreach (User user in Model)
        {
    <div class="card size">
        <div class="card-body">
            <div class="row">
                <div class="head">
                    UserName 
                </div>
                <div class="value">
                        :  <a class="nav-link li" asp-area="" asp-controller="Home" asp-action="ReservationsByUserId" asp-route-id="@user.UserId">
                            @user.UserName
                        </a>
                </div>
            </div>
                <div class="row ad">
                    <div class="head">
                        Phone Number
                    </div>
                    <div class="value">
                        :  @user.PhoneNumber
                    </div>
                </div>
                <div class="row">
                    <div class="head">
                        Location
                    </div>
                    <div class="value">
                        :  @user.Location
                    </div>
                </div>
                <div class="row">
                    <div class="head">
                        Email Id
                    </div>
                    <div class="value">
                        :  @user.EmailId
                    </div>
                </div>
                <div class="row">
                 <a class="nav-link text-success ed" title="Edit" asp-area="" asp-controller="Home" asp-action="EditUser" asp-route-id="@user.UserId">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>   
                    <div class="nav-link text-danger de" title="Delete" onclick="UserDelete(@user.UserId)">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                    </div>
        </div>
    </div>
        }
        </div>